@font-face{
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.ttf) format(truetype);
    font-weight: 600;
    font-style: normal;
}

a, a:focus, a:hover{
    text-decoration: none !important;
}
header{
    width: 100%;
    height: auto;
}

.profile{
    width: 63px;
    height: 63px;
    clip-path: circle(50% at 50% 50%);
background: #D9D9D9;
border: 3px solid #787FBA;

}
nav{
    background-color: #1B1A1F;
    padding-left: 64px !important;
    padding-right: 64px !important;
}
a.nav-link{
    color: #BEBEBE;
    font-size: 20px;
    font-weight: 600;
}
a.nav-link:hover, a.nav-link:focus, a.navbar-brand:hover, a.navbar-brand:focus{
    color: #BEBEBE;
    text-decoration: none;
    background-color: #1B1A1F;
}
.d-flex:hover, .d-flex:focus{
    background-color: #1B1A1F;
}
.img_profile{
    height: 63px;
    width: 63px;
}
.search_f{
    border: #BEBEBE 2px solid;
    border-radius: 8px;
    height: 30px;
}
.search_f img, div, input{
    padding: 5px;
}
.search_f input{
    background: transparent;
    border: 0;
    height: 27px;
}
.stick{
    clip-path: polygon(0 0, 30% 0, 30% 100%, 0 100%);
    background-color: #BEBEBE;
    height: 18px;
    margin-top: 5px;
}
.navbar-brand{
    color: #535C91 !important;
    font-size: 36px !important;
    font-weight: 600;
}
a:hover{
    text-decoration: none;
}
.navbar{
    margin: 0;
    
}
.head_img{
    width: 100%;
    height: auto;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover, a:focus{
    background-color: gray;
    text-decoration: underline;
}
ul{
    padding-top: 10px;
}
main{
    height: 100%;
    background-color: #F4F0F6;
} 
footer{
    text-align: right;
    background-color: #1B181D;
    color: #fff;
    padding: 1em;
    width: 100%;
    height: auto;
}
.good{
    padding: 10px;
}

.img_good{
    width: 75%;
    height: auto;
}
.about{
    color: #131313;
    font-size: 16px;
    font-family: Montserrat;
}
.in_stock{
    color: #608964;
    font-size: 14px;
    font-family: Montserrat;
}
.price{
    color: #131313;
    font-size: 24px;
    font-family: Montserrat;
}
.love{
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 25%;
}

#ad{
    margin-top: 50px;
    display:flex;
    justify-content: center;
    align-items:center;
}
#ad:hover, #ad:focus{
    background-color: #D1D1D1;
}
#ad{
    
}

.montserrat{
    font-family: Montserrat;
}
.rec{
    font-size: 36px;
    color: #0A1828;
    padding-left: 50px;
    font-family: Montserrat;
}

html, body, .main{
    height: 100%;
    background-color: #F4F0F6;
}
.profile_btn{
    cursor: pointer;
}
#fon{
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
    display: none;
}
#profile{
    float: right;
    opacity: 0.8;
    width: auto;
    height: auto;
    z-index: 2000;
    background-color: #CACACA;
    padding: 0 15px 0 15px;
    position: fixed;
}
.main{
    margin-left: 32px;
    margin-right: 32px;
}


.img_app{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.app{
    background-color: #F4F0F6;
}
.main-app{
    margin: 0 32px 0 32px;
}


.h1_text{
    color: #0A1828;
    font-size: 40px;
    font-family: Montserrat;
}

#summary, #payment{
    background-color: #D1D3D8;
    border-radius: 21px;
    padding: 10px;
}
.cash_style{
    color: #0A1828;
    font-size: 24px;
    font-family: Montserrat;
}
.summ{
    color: #535C91;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    font-family: Montserrat;
}
.cash_style, .summ {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cash_style input, label{
    cursor: pointer;
}
input[type="checkbox"]{
    padding: 2px;
    display: flex;
    align-content: center;
    appearance: none;
    margin: 5px 0 0 5px;
    width: 22px;
    height: 22px;
    background-color: rgba(86,89,120 0.06);
    border: #7C8C9C 2px solid;
}
input[type="checkbox"]::before{
    clip-path: polygon(10% 0%, 0% 10%, 40% 50%, 0% 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0%, 50% 40%); 
    content: "";
    width: 28px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #535C91;
}
input[type="checkbox"]:checked::before{
    transform: scale(1);
}

.summ_btn1{
    background-color: #535C91;
    border-radius: 16px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    font-family: Montserrat;
}
.summ_btn2{
    background-color: #444C59;
    border-radius: 16px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    font-family: Montserrat;
}
.summ_btn1:hover, .summ_btn2:hover{
    color: white;
}
.credit img{
    margin-right: 10px;
}

.good_cart{
    background-color: #D1D3D8;
    border-radius: 21px;
    padding: 10px;
    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.25);
    height: 202px;
    position: relative;
    margin-bottom: 10px;
}
.good_cart img{
    height: 172px;
    width: 146px;
    margin: 5px;
    float: left;
}
.info{
    display: inline;
}

.name{
    margin-top: 20px;
    color: #131313;
    font-size: 32px;
    font-family: Montserrat;
}
.info .price{
    position: absolute;
    bottom: 0;
    left: 172px;
    color: #131313;
    font-size: 36px;
    font-family: Montserrat;
}
.btn_close{
    clip-path: polygon(10% 0%, 0% 10%, 40% 50%, 0% 90%, 10% 100%, 50% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0%, 50% 40%);
    width: 22px;
    height: 22px;
    background-color: #8B9098;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
}

.amount{
    margin-top: auto;
    display:flex;
    justify-content: flex-end;
    align-items:center;
    width: auto;
}
.plus, .minus, .amount_num{
    margin: 10px;
}
.amount_num{
    width: 52px;
    height: 52px;
    border: #7C8C9C 6px solid;
    color: rgba(19,19,19,71%);
    font-size: 32px;
    font-family: Montserrat;
    text-align: center;
    padding: 0;
}
a.plus{
    background-image: url(../img/plus.svg);
    height: 42px;
    width: 42px;
}
a.plus:hover{
    text-decoration: none;
    background-color: #D1D3D8;
}
a.minus{
    /* Rectangle 4062 */

width: 42px;
height: 8px;

background: rgba(68, 76, 89, 0.5);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.car_m{
    padding-left: 64px;
    padding-right: 64px;
}



/* product.html */
.container-fluid{
    padding: 0 !important;
}

.product{
    height: 70%;
}
.product_name{
    font-size: 48px;
    font-family: Montserrat;
    color: #131313;
}
.product_img{
    height: 90%;
    width: auto;
}
.old_price{
    color: #969696;
    text-decoration: line-through;
    font-size: 16px;
    font-family: Montserrat;
}
.new_price{
    color: #131313;
    font-size: 24px;
    font-family: Montserrat;
}
hr{
    border: #969696 2px solid !important;
    width: 90%;
}
.share{
    display: flex;
    justify-content: space-between;
}
.on_storage{
    color: #535C91;
    font-family: Montserrat;
    font-weight:500;
}
.in_cart{
    background-color: #535C91;
    border-radius: 16px;
    border: none;
    width: 100%;
    height: 60px;
    font-size: 24px;
    color: #fff;
    font-family: Montserrat;
}
.in_cart img{
    margin-right: 10px;
}
.in_fav{
    background-color: #444C59;
    border-radius: 16px;
    border: none;
    width: 100%;
    height: 60px;
    font-size: 24px;
    color: #fff;
    font-family: Montserrat;
}
.in_fav img{
    margin-right: 10px;
}

/*catalog.html*/
aside{
    background-color: #D1D3D8;
    height: 100%;
    width: auto;
    border-radius: 21px;
}
.cat_pr:hover{
    background-color: #F4F0F6;
}
.cat_name{
    font-size: 16px;
    color: #131313;
    font-family: Montserrat;
}
.cat_on_storage{
    color: rgba(96, 137, 100, 0.73);
    font-size: 14px;
    font-family: Montserrat;
}
.cat_img{
    width: 90%;
}
.cat_m{
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 25px;
}


/*wishlist.html*/
.wish_m{
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 20px;
}
#wish{
    background-color: #D1D3D8;
    border-radius: 21px;
    padding: 20px;
}
.wish_btn{
    background-color: #444C59;
    border-radius: 16px;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 8px;
    font-family: Montserrat;
}